@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900&display=swap');

    * {
        padding: 0;
        margin: 0;
    }

    body {
        background: linear-gradient(to left, #333333, #882249, #333333);
        color: #FF4C4C;
        font-family: "Inter", sans-serif;
        height: 100vh;
        box-sizing: border-box;
    }

    header{
        margin: 2%;
    }

    .panel_principal{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0% 5% 2.5% 7.5%;
        justify-content: center;
        gap: 6.25rem;
        width: 90%;
    }

    .panel_principal_text_input{
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .main-text-input{
        resize: none;
        width: auto;
        height: 30rem;
        padding: 2.5% 0% 0% 0%;
        color: #FF4C4C;
        font-family: "Inter", sans-serif;
        font-size: 2rem;
        text-align: justify;
        background-color: transparent;
        border-color: transparent;
    }
    
    .main-text-input:focus{
        border: none;
        outline: none;
    }

    ::placeholder{
        color: #FF4C4C;
    }

    .panel_principal_text_input_info{
        display: flex;
        gap: 0.31rem;
        color: white;
        font-size: 0.75rem;
    }

    .panel_principal_text_input_info_imagen{
        width: 1rem;
        height: 1rem;
    }

    .panel_principal_text_input_buttons{
        margin: 2%;
        display: flex;
        gap: 1.25rem;
        justify-content: center;
    }

    .panel_principal_text_input_option_1{
        width: 50%;
        padding: 3% 0% 3% 0%;
        border-radius: 1.125rem;
        font-size: 1rem;
        color: white;
        background-color: #FF4C4C;
        border-color: transparent;
    }

    .panel_principal_text_input_option_1:hover{
        border: 1px solid white;
        background-color: #f46464;
    }

    .panel_principal_text_input_option_1:active{
        border: 2px solid white;
        background-color: #af2727;
    }

    .panel_principal_text_input_option_2{
        width: 50%;
        padding: 3% 0% 3% 0%;
        border-radius: 1.125rem;
        font-size: 1rem;
        color: #333333;
        background-color: #F3FEB8;
        border-color: transparent;
    }

    .panel_principal_text_input_option_2:hover{
        border: 1px solid white;
        background-color: #e2e6c9;
    }

    .panel_principal_text_input_option_2:active{
        border: 2px solid white;
        background-color: #a6ae71;
    }

    .panel_secundario_resultado{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 27.5%;
        height: 45rem;
        border-radius: 2rem;
        text-align: center;
        color: #343A40;
    }

    .panel_secundario_resultado_imagen{
        width: 75%;
    }

    .panel_secundario_resultado_no_texto_título{
        padding: 10% 12.5% 0% 12.5%;
        line-height: normal;
        font-size: 1.5rem;
    }

    .panel_secundario_resultado_no_texto_contenido{
        padding: 5% 12.5% 0% 12.5%;
        font-size: 1rem;
        line-height: normal;
    }

    .panel_secundario_resultado_success{
        width: 85%;
        height: 80%;
        padding: 7.5% 12.5% 7.5% 12.5%;
        overflow-wrap: break-word;
        font-size: 1.5rem;
        line-height: normal;
        text-align: justify;
    }

    .copy_tex_option{
        width: 85%;
        margin: 2% 0% 7.5% 0%;
        padding: 5% 0% 5% 0%;
        border-radius: 1.125rem;
        font-size: 1rem;
        color: #f46464;
        background-color: transparent;
        border-color: #f46464;
    }

    .copy_tex_option:hover{
        border: 1px solid #f46464;
        background-color: #e2e2e2;
    }

    .copy_tex_option:active{
        border: 2px solid #f46464;
        background-color: #e2e2e2;
    }

    .footer{
        color:#333333;
        background-color: #c76b8e;
        padding: 1.25rem;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }


    @media (max-width: 1100px){

        header{
            margin: 5% 0% 0% 0%;
        }

        .header_imagen{
            margin-left: 0rem;
        }
        
        .panel_principal{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10% 2% 0% 2%;
            justify-content: center;
            gap: 1.25rem;
            width: 95%;
        }

        .panel_principal_text_input{
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
        }

        .main-text-input{
            width: 95%;
            margin: auto;
            height: 30rem;
            padding: 2.5% 0% 0% 0%;
        }

        .panel_principal_text_input_info{
            width: 95%;
            margin: auto;
        }

        .panel_principal_text_input_buttons{
            display: flex;
            gap: 2.5rem;
            justify-content: center;
            width: 95%;
        }

        .panel_principal_text_input_option_1{
            padding: 3% 0% 3% 0%;
            width: 50%;
        }

        .panel_principal_text_input_option_2{
            padding: 3% 0% 3% 0%;
            width: 50%;
        }

        .panel_secundario_resultado{
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 95%;
            margin: 5% 0% 10% 0%;
            height: auto;
            border-radius: 2rem;
            text-align: center;
            color: #343A40;
        }

        .panel_secundario_resultado_imagen{
            width: 0%;
            height: 0%;
        }

        .panel_secundario_resultado_no_texto_título{
            padding: 0% 10% 0% 10%;
            margin: 4% 0% 0% 0%;
            font-size: 1.5rem;
        }
    
        .panel_secundario_resultado_no_texto_contenido{
            padding: 0% 10% 0% 10%;
            margin: 2.5% 0% 4% 0%;
            font-size: 1.175rem;
        }

        .copy_tex_option{
            padding: 3% 0% 3% 0%;
        }
    }


    @media (max-width: 500px){

        header{
            margin: 5% 0% 0% 0%;
        }

        .header_imagen{
            margin-left: -1.75rem;
        }
        
        .panel_principal{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2% 2% 0% 2%;
            justify-content: center;
            gap: 1.25rem;
            width: 95%;
        }

        .panel_principal_text_input{
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
        }

        .main-text-input{
            width: 96%;
            margin: auto;
            height: 20rem;
            padding: 2.5% 0% 0% 0%;
        }

        .panel_principal_text_input_info{
            width: 95%;
            margin: auto;
        }

        .panel_principal_text_input_buttons{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
        }

        .panel_principal_text_input_option_1{
            width: 100%;
            padding: 5% 0% 5% 0%;
        }

        .panel_principal_text_input_option_2{
            width: 100%;
            padding: 5% 0% 5% 0%;
        }

        .panel_secundario_resultado{
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 95%;
            height: auto;
            border-radius: 2rem;
            text-align: center;
            color: #343A40;
            margin: 0% 0% 10% 0%
        }

        .panel_secundario_resultado_imagen{
            width: 0%;
            height: 0%;
        }

        .panel_secundario_resultado_no_texto_título{
            padding: 0% 10% 0% 10%;
            margin: 7.5% 0% 0% 0%;
        }
    
        .panel_secundario_resultado_no_texto_contenido{
            padding: 0% 10% 0% 10%;
            margin: 5% 0% 7.5% 0%;
            font-size: 1.175rem;
        }

        .copy_tex_option{
            padding: 5% 0% 5% 0%;
        }
    }